<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/_layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="content" class="col-md-9" ng-app="JobMngApp" ng-controller="TicketListController as vm">
		<form id="sky-form" class="sky-form" novalidate>
			<header>Ticket List</header>
			<fieldset>
				<div class="row">
					<section class="col col-6">
						<label class="label">Ticket ID</label> <label class="input"><input type="text" id="ticketId" name="ticketId"></label>
					</section>
					<section class="col col-6">
						<label class="label">Job ID</label> <label class="input"><input type="text" id="jobId" name="jobId"></label>
					</section>
				</div>
				<div class="row">
					<section class="col col-md-12">
						<label class="label">Assign Date</label>
						<div class="row">
							<section class="col col-6">
								<label class="input"> <i class="icon-append fa fa-calendar"></i> <input type="text" id="start" placeholder="วันที่เริ่มต้น" />
								</label> <input type="hidden" name="assignDateBegin" id="startAlt" />
							</section>
							<section class="col col-6">
								<label class="input"> <i class="icon-append fa fa-calendar"></i> <input type="text" id="finish" placeholder="วันที่สิ้นสุด">
								</label> <input type="hidden" name="assignDateEnd" id="finishAlt" />
							</section>
						</div>
					</section>
				</div>
				<div class="row">
					<section class="col col-3">
						<label class="label">Problem Category</label> <label class="select"> <select id="problemCat" name="problemCat">
								<option value="0">ไม่ระบุ</option>
								<option th:each="item : ${problemList}" th:value="${item.id}" th:text="${item.name}"></option>
						</select><i></i>
						</label>
					</section>
					<section class="col col-3">
						<label class="label">Location</label> <label class="select"> <select id="jobLocation" name="jobLocation">
								<option value="0">ไม่ระบุ</option>
								<option th:each="item : ${locationList}" th:value="${item.id}" th:text="${item.name}"></option>
						</select><i></i>
						</label>
					</section>
					<section class="col col-6">
						<label class="label">Device</label> <label class="select"> <select id="deviceInfo" name="deviceInfo">
								<option th:each="item : ${deviceList}" th:value="${item.id}" th:text="${item.name}"></option>
						</select><i></i>
						</label>
					</section>
				</div>
				<div class="row">
					<section class="col col-6">
						<label class="label">Status</label> <label class="select"> <select id="ticketStatus" name="ticketStatus">
								<option th:each="item : ${ticketStatusList}" th:value="${item.value}" th:text="${item}"></option>
						</select><i></i>
						</label>
					</section>
				</div>
			</fieldset>
			<footer class="text-center">
				<button type="button" class="btn-u btn-u-blue" ng-click="vm.search()">
					<i class="icon-eyeglasses"></i> Search
				</button>
			</footer>
		</form>

		<table id="searchResult" class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Ticket ID</th>
					<th>Job ID</th>
					<th>Assign Date</th>
					<th>Location</th>
					<th>Product Line</th>
					<th>Problem Category</th>
					<th>Device</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="vm.tiketlist.length == 0">
					<td colspan="10">
						<div class="alert alert-warning fade in text-center">
							<strong>No Matched</strong>
						</div>
					</td>
				</tr>
				<tr ng-repeat="row in vm.ticketlist">
					<td>{{$index + 1}}</td>
					<td>{{row.ticketId}}</td>
					<td>{{row.jobId}}</td>
					<td>{{row.assignAt}}</td>
					<td>{{row.jobLocationName}}</td>
					<td>{{row.productLineName}}</td>
					<td>{{row.promblemCatName}}</td>
					<td>{{row.deviceInfoName}}</td>
					<td>{{row.ticketStatus}}</td>
					<td><div class="btn-group">
							<button type="button" class="btn-u btn-u-xs btn-u-orange dropdown-toggle" data-toggle="dropdown">
								Action <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" ng-click="vm.viewTicket(row.ticketId)">View Detail</a></li>
								<li><a href="#" ng-click="vm.viewJob(row.jobId)">View Job</a></li>
								<i class="divider"></i>
								<li sec:authorize="hasRole('ROLE_STAFF')"><a href="#" ng-click="vm.takeTicket(row.ticketId)">Take Ticket</a></li>
								<li sec:authorize="hasRole('ROLE_STAFF')"><a href="#" ng-click="vm.finishTicket(row.ticketId)">Finish Ticket</a></li>
								<li sec:authorize="hasRole('ROLE_LEADER')"><a href="#" ng-click="vm.verifyTicket(row.ticketId)">Verify Ticket</a></li>
							</ul>
						</div></td>
				</tr>
			</tbody>
		</table>
	</div>

	<th:block layout:fragment="footerScript">
		<script type="text/javascript" th:src="@{/app/components/ticket/ticket.list.controller.js}"></script>
	</th:block>

</body>
</html>
