/* Add here all your css styles (customizations) */

.header > .container 
{
	margin-bottom: 0 !important;
}

.sky-form fieldset.collapse {
	display: none !important;
}

.sky-form fieldset.collapse.in {
	display: block !important;
}

.counters span.counter-icon i {
	font-size: 16px;
}