<div xmlns:th="http://www.thymeleaf.org">
	<div class="header" th:fragment="header">
		<div class="container">
			<!-- Logo -->
			<a class="logo" th:href="@{/}"> <img src="/assets/img/logo.png" alt="Logo">
			</a>
			<!-- End Logo -->

			<!-- Topbar-nav -->
			<div class="topbar">
				<ul class="loginbar pull-right">
					<li class="hoverSelector"><a><i class="fa fa-plug"></i>&nbsp;
							<th:block th:if="${#strings.equalsIgnoreCase('anonymousUser',#authentication.principal)} != true">
								[[${#authentication.principal.username}]]
							</th:block>
						</a>
						<ul class="languages hoverSelectorBlock">
							<li><a href="#" th:href="@{/logout}">Log out</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- End Topbar-nav -->

		</div>
		<!--/end container-->
	</div>
</div>