<div class="header" th:fragment="header">
	<div class="container">
		<!-- Logo -->
		<a class="logo" href="index.html"> <img src="assets/img/logo.png" alt="Logo">
		</a>
		<!-- End Logo -->

		<!-- Topbar -->
		<div class="topbar">
			<ul class="loginbar pull-right">
				<li class="hoverSelector"><a><i class="fa fa-plug"></i>&nbsp;UserName</a>
					<ul class="languages hoverSelectorBlock">
						<li><a href="#" th:href="@{/logout}">Log out</a></li>
					</ul></li>
			</ul>
		</div>
		<!-- End Topbar -->

	</div>
	<!--/end container-->
</div>