<div xmlns:th="http://www.thymeleaf.org">
	<ul th:fragment="nav" class="list-group sidebar-nav-v1" id="sidebar-nav">
		<!-- Job -->
		<li class="list-group-item list-toggle"><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-jobmenu">Job Management</a>
			<ul id="collapse-jobmenu" class="collapse">
				<li><a th:href="@{/job/}"><i class="icon-magnifier"></i> Search Job</a></li>
				<li><a th:href="@{/job/create/}"><i class="icon-notebook"></i> Create Job</a></li>
			</ul></li>
		<!-- End Job -->

		<!-- Ticket -->
		<li class="list-group-item list-toggle"><a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-ticketmenu">Ticket</a>
			<ul id="collapse-ticketmenu" class="collapse">
				<li><a th:href="@{/ticket/list}"><i class="icon-list"></i> Ticket List</a></li>
			</ul></li>
		<!-- End Ticket-->

	</ul>
</div>